{%load i18n%}
{%with userID=user.id body=comment_post.body cmtID=comment_post.commentor_id cpID=comment_post.id timestamp=comment_post.timestamp%}
<datalists>
	<output style='align-items:center;margin-right:2px'>
	{%if cmtID == userID%}<div onclick='commentPostSelfDelete(this)' cid={{comment.id}}>delete</div>
	<a href={%url 'profile' cmtID%}><img src={%url 'avatar-member' cmtID%} class=small></a>
	<div onclick='commentPostSelfEdit(this, event)' cid={{cpID}}>edit</div>
	{%else%}<a href={%url 'profile' cmtID%}><img src={%url 'avatar-member' cmtID%} class=small></a>{%endif%}
	</output>
	<output style='flex:9'>
		<div>{{body}}</div>
		<div><time>{{timestamp|timesince}} {%trans 'ago'%}</time></div>
	</output>
</datalists>
{%endwith%}
