	{%load i18n utils%}
	{%with body=forum.post.body title=forum.title.title medium=forum.post.media.all fid=forum.id forumerID=forum.forumerID timestamp=forum.timestamp%}
	<article fid={{fid}}>
	<output>
	<div onclick='forumSelfDelete(this, event)' pid={{forum.id}}>{%trans 'delete'%}</div>
	<div><a href="{%url 'profile' forumerID%}"><img alt={{forumerID}} class=small src={%url 'avatar-member' forumerID%}></a></div>
	<div onclick='forumSelfEdit(this, event)' fid={{fid}}>ctxEdit</div>
	</output>
	<summary style='flex:9'>
		<div>{{title}}<time>{{timestamp|timesince}} {%trans 'ago'%}</time></div>
		<div>{{body}}</div>
		{%if medium%}<picture>
			{%for media in medium%}
				{%if media|isImage%}<img class=small src={%url 'avatar-raw' media.id%} onclick='showModal(this)'>
				{%else%}<a href={%url 'avatar-raw' media.id%}>{{media.filename}}</a>
				{%endif%}
			{%endfor%}
			</picture>{%endif%}
	</summary>
	</article>
	{%endwith%}
