{%extends 'base.html'%}
{%load i18n%}
{%block TITLE%}-{%trans 'Access'%}{%endblock TITLE%}
{%block SCRIPT%}
<script>
window.onload=function(){ONLOAD()}
let formdata, rspData, button=querySelector('button'), LOGIN=ById('LOGIN'), FORGOT=ById('FORGOT'), SIGNUP=ById('SIGNUP');
function formToggle(obj){
	var showAttr=obj.getAttribute('show')
	LOGIN.style.display=showAttr=='LOGIN'?'block':'none'
	SIGNUP.style.display=showAttr=='SIGNUP'?'block':'none'
	FORGOT.style.display=showAttr=='FORGOT'?'block':'none'
}
function ONLOAD(){
	FORGOT.addEventListener('submit', evt=>{
		formdata=new FormData(FORGOT);
		xhr.data_sent("{%url 'password-forgot'%}", formdata);
		xhr.onreadystatechange=function(evt)
			{ if(this.readyState==4 && this.status==200)
				{ rspData=JSON.parse(this.responseText);
				if (rspData.UserExisted) form.innerHTML="<div style='color:red'>Messages for password reset sent, please check your mailbox.</div>"
				else console.log('User Not Existed')}
			}
		evt.preventDefault()}, false)
	SIGNUP.addEventListener('submit', evt=>{
		formdata=new FormData(SIGNUP);
		xhr.data_sent("{%url 'signup'%}", formdata);
		xhr.onload=function(evt)
			{
			if(this.status==200 && this.readyState==4)
				{ responseData=JSON.parse(this.response);
				if(responseData.UserCreated) window.location="{%url 'me'%}"
				else console.log('user not created')}
			}
		evt.preventDefault()}, false)
	LOGIN.addEventListener('submit', evt=>{
		formdata=new FormData(LOGIN);
		xhr.data_sent("{%url 'login'%}", formdata);
		xhr.onreadystatechange=function(evt)
			{ if(this.readyState==4 && this.status==200) { rspData=JSON.parse(this.response);
				if(rspData.UserExisted) window.location="{%url 'home'%}";
				else console.log('UserNotExisted'); }
			}
		evt.preventDefault()}, false)
}
</script>
{%endblock SCRIPT%}
{%block STYLE%}
<style>
main{align-items:center; }
hgroup div{margin-right:2px; }
hgroup div:hover{font-weight:bold; color:cyan; }
form{width:50%; }
input{margin-top:4px; }
#LOGIN{display:block; }
#SIGNUP{display:none; }
#FORGOT{display:none; }
section div{margin-right:4px; }
@media screen and (max-width:600px) {
	input[type=submit]{width:100%; cursor:pointer}
}
</style>
{%endblock STYLE%}
{%block SECTION%}
<hgroup><div show=LOGIN onclick='formToggle(this)'>LOGIN</div>
<div show=SIGNUP onclick='formToggle(this)'>SIGNUP</div>
<div show=FORGOT onclick='formToggle(this)'>PASSWORD-FORGOT</div>
</hgroup>
<form id=FORGOT action={%url 'password-forgot'%} enctype=multipart/form-data method=post autocomplete=on validate>
<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=email name=email pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$' placeholder={%trans 'xxx@yyy.xx or xxx@yyy.zzz'%} required>
	<button>{%trans 'Password Forgot'%}</button>
</form>
<form id=SIGNUP action={%url 'signup'%} enctype=multipart/form-data method=post autocomplete=on validate>
<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=text name=identifier placeholder={%trans 'identifier'%} required>
	<input type=text name=first_name placeholder={%trans 'first_name'%} required autocomplete='given-name'>
	<input type=text name=last_name placeholder={%trans 'last_name'%} required autocomplete='family-name'>
	<input type=password name=password pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder={%trans 'password'%} title='password validation' required autocomplete='given-password'>
	<input type=email name=email pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$' placeholder={%trans 'email'%} title='Email validation' required autocomplete='email'>
	<input type=text name=cellular pattern='\d{10,15}' placeholder={%trans 'cellular'%} title='cellular 09xxxxxxxx' required>
	<input type=date name=birthday pattern='[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])' placeholder={%trans '2018-01-01'%} title='birthday YYYY-MM-DD' required value='2018-01-01'>
	<button>{%trans 'singup'%}</button>
<h3>註冊即表示同意本網站的版權聲明，關於本網站的<mark>詳細使用規則</mark>，請參考<a href={%url 'about'%}>{%trans 'about'%}</a></h3>
</form>
<form id=LOGIN action={%url 'login'%} enctype=multipart/form-data method=post autocomplete=on validate>
<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=text name=username placeholder="{%trans 'cellular, email, or identifier'%}" autocomplete=username required>
	<input type=password name=password pattern='.{8,}' placeholder={%trans 'password'%} autocomplete=current-password required>
	<button>{%trans 'login'%}</button>
</form>
{%endblock SECTION%}
{%comment%}
<h3><a href={%url 'signup'%}>{%trans 'signup'%}</a> or <a href={%url 'password-forgot'%}>{%trans 'Password Forgot'%}</a></h3>
{%endcomment%}
