{%extends 'base.html'%}
{%load i18n%}
{%block TITLE%}-{%trans 'Password Reset'%}{%endblock TITLE%}
{%block STYLE%}
<style>
/*button{font-size:2vw; display:block; margin:0 auto; }
form{ margin:auto; width:50%; padding:20px; border-radius:10px}
button:hover{color:blue; font-weight:bold; }*/
::placeholder{font-size:2vw; }
</style>
{%endblock STYLE%}
{%block SCRIPT%}
<script>
var form=document.querySelector('form'); var button=document.querySelector('button');
var xhr=new XMLHttpRequest();var url, old_password, password, Password, rspData;
xhr.data_sent=function(url, data){
		this.open('POST', url, true);
		this.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
		this.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		this.send(data);
	};
function rtrv_info(evt){
	old_password=document.querySelector('input[name=old_password]').value;
	password=document.querySelector('input[name=password]').value;
	Password=document.querySelector('input[name=Password]').value; //fired=old_password&&password==Password;
	data=JSON.stringify({old_password:old_password, password:password, Password:Password}); 
};
function checkPasswordReset(evt){
	rtrv_info();
	if (form.checkValidity())
		{url="{%url 'password-reset'%}";
		xhr.data_sent(url, data);
		xhr.onload=function(evt){
			if(this.readyState==4 && this.status==200) { rspData=JSON.parse(this.response);
				if (rspData.passwordResetStatus) form.innerHTML="<div style='color:red'>Password Reset.</div>";
				else console.log('Password Not Reset');
				}
			};
		}
	else console.log('Invalid Form');
};
</script>
{%endblock SCRIPT%}
{%block MAIN%}
<main>
<form action={%url 'password-reset'%} method=post autocomplete=on validate>
<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=password name=old_password placeholder="{%trans 'old password'%}" required> <br>
	<input type=password name=password pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder="{%trans '8 more chars(number, lower and UPPER)'%}" required> <br>
	<input type=password name=Password pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder="{%trans '8 more chars(number, lower and UPPER)'%}" required> <br>
	<button type=button onclick='checkPasswordReset()'>{%trans 'Password Reset'%}</button>
</form>
</main>
{%endblock MAIN%}
/*
form.addEventListener('submit', function(evt){
	checkPasswordReset();
	if(fired){
		url="{%url 'password-reset'%}";
		xhr.data_sent(url, data);
		xhr.onload=function(evt){
			if(this.readyState==4 && this.status==200) {rspData=JSON.parse(this.response); passwordResetStatus=rspData.passwordResetStatus?true:false; };
			};
		}
	evt.preventDefault();
});
*/
