{%extends 'base.html'%}
{%load i18n%}
{%block TITLE%}-{%trans 'Password Forgot'%}{%endblock TITLE%}
{%block SCRIPT%}
<script>
window.onload=function(){ONLOAD();}
var rspData, FORGOT=ById('FORGOT');
function ONLOAD(){
	FORGOT.addEventListener('submit', function(evt){
		formdata=new FormData(FORGOT);
		xhr.data_sent("{%url 'password-forgot'%}", formdata);
		xhr.onreadystatechange=function(evt){
			if(this.readyState==4 && this.status==200) { rspData=JSON.parse(this.responseText);
				if (rspData.UserExisted) form.innerHTML="<div style='color:red'>Messages for password reset sent, please check your mailbox.</div>";//console.log('User Existed');
				else console.log('User Not Existed'); };
			};
		evt.preventDefault();
	});
}
</script>
{%endblock SCRIPT%}
{%block STYLE%}
<style>
main{justify-content:center; }
#FORGOT{ margin:auto; width:50%; padding:20px; border-radius:10px}
</style>
{%endblock STYLE%}
{%block SECTION%}
<form id=FORGOT action={%url 'password-forgot'%} enctype=multipart/form-data method=post autocomplete=on validate>
<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=email name=email pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$' placeholder={%trans 'xxx@yyy.xx or xxx@yyy.zzz'%} required>
	<button>{%trans 'Password Forgot'%}</button>
</form>
{%endblock SECTION%}
{%comment%}
{%endcomment%}
