{%extends 'base.html'%}
{%load i18n%}
{%block TITLE%}-{%trans 'Password Reset'%}{%endblock TITLE%}
{%block STYLE%}
<style>
main{justify-content:center; }
button{display:inherit; flex:1; }
input{margin-top:4px; }
#passwordReset{ margin:auto; width:50%; padding:20px; border-radius:10px}
/*button{font-size:2vw; display:block; margin:0 auto; }
button:hover{color:blue; font-weight:bold; }*/
::placeholder{font-size:2vw; }
</style>
{%endblock STYLE%}
{%block SCRIPT%}
<script>
window.onload=function(){ONLOAD()};
var passwordReset=ById('passwordReset'), formdata;
function ONLOAD(){
	passwordReset.addEventListener('submit', function(event){
		formdata=new FormData(passwordReset)
		xhr.data_sent("{%url 'password-reset'%}", formdata);
		xhr.onreadystatechange=function(evt)
			{ if(this.readyState==4 && this.status==200)
				{ rspData=JSON.parse(this.response);
				if (rspData.passwordResetStatus) form.innerHTML="<div style='color:red'>Password Reset.</div>";//console.log('Password Reset');
				else console.log('Password Not Reset'); 
				}
			}
		event.preventDefault()}, false)
}
</script>
{%endblock SCRIPT%}
{%block SECTION%}
<form id=passwordReset action={%url 'password-reset'%} enctype=multipart/form-data method=post autocomplete=on validate>
	<input type=hidden value={{csrf_token}} name=csrfmiddlewaretoken>
	<input type=hidden value={{user.last_name}} name=username autocomplete=username>
	<input type=password name=old_password placeholder="{%trans 'old password'%}" required autocomplete=current-password>
	<input type=password name=password pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder="{%trans '8 more chars(number, lower and UPPER)'%}" autocomplete=new-password required>
	<input type=password name=Password pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder="{%trans '8 more chars(number, lower and UPPER)'%}" autocomplete=new-password required>
	<button>{%trans 'Password Reset'%}</button>
</form>
{%endblock SECTION%}
{%comment%}
{%endcomment%}
